
.main-wrapper{
    display: block;
    float: left;
    width: 100%;
}
.banner-header-container {
    width: 100%;
    float: left;
    display: block;
    background: url('img/home-slider.png') no-repeat;
    background-size: 100% 100%;
    height: 768px;
    object-fit: contain;
}
.Copia-Logo {
    margin: 11px 0 0 45px;
    float: left;
    width: 197.1px;
    height: 50px;
    object-fit: contain;
}
nav{
    width: 70%;
    height: 69px;
    float: right;
}
nav a{
    font-family: Avenir;
    line-height: inherit;
    padding: 28px 22px;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
nav a:active {
    color: #00dc72;
    /*font-size: 20px;*/
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
}
.right-link{
     display: block;
     float: right;
 }
.left-link{
    display: block;
    float: left;
}
.getting-started:active{
    border-bottom: 5px solid #00dc72;

}
.banner {
    display: block;
    float: left;
    width: 100%;
    margin: 0 auto;
    margin-top: 66px
}
.banner h2, p {
    text-align: center;
    color: white;
    font-weight: 600;
}
.banner h2{
    width: 50%;
    margin: 0 auto;
    font-size: 76px;
}
.banner p {
    font-size: 24px;
}
.start-saving-btn{
    width: 484.3px;
    height: 90px;
    border-radius: 45px;
    border: 1px solid #ff6a13;
    background-color: #ff6a13;
    outline: none;
    font-family: Avenir;
    font-size: 28.4px;
    margin: 0 auto;
    display: block;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;
}
.start-saving-container {
    display: block;
    float: left;
    width: 100%;
    margin-top: 160px;
}