

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next';
}
header {
  .copia-logo {
    display: block;
    width: 197px;
    float: left;
    height: 64px;
    margin-left: 55px;
    cursor: pointer;
    img.logo{
      margin-top: 12px;
    }
  }
  nav.nav-wrapper {
    box-shadow: none;
    background-color: transparent;
    .nav-list-container {
      margin-top: 15px;
    }
    ul.nav-list-left, ul.nav-list-right {
      li {
        line-height: 40px;
        a{
          @extend .copia-nav-link-text;
        }
        a:hover, a:active{
          border-bottom: 5px solid #00dc72;
          background: transparent;
        }
      }
    }
    ul.nav-list-right {
      display: inline-block;
      float: right;
    }
    ul.nav-list-left {
      display: inline-block;
      float: left;
      margin-left: 85px;
    }

  }
  .getting-started-dropdown {
    position: relative;
    i.material-icons {
      line-height: 0;
      margin-top: 22px;
      height: 20px;
    }
    ul.getting-started{
      width: 182px !important;
      left: 0 !important;
      top: 60px !important;
      background: transparent;
      li {
        border-bottom: none !important;
        a.g-started-item:hover {
          border: none !important;
          padding: 14px 0;
        }
        a.g-started-item{
          padding: 14px 0;
          border: none !important;
        }
      }
      li:hover {
        background-color: #00dc72;
      }
    }
  }
}

@media #{$small-and-down} {
  header {
    .mobile-nav-container {
      a.copia-logo-mobile {
        display: block;
        width: 60px;
        margin: 0 auto;
        height: 55px;
        margin-top: 12px;
      }
      .nav-icon {
        display: block;
        float: left;
        height: 43px;
        margin: 16px 0 0 11px;
      }
      .mobile-getting-started {
        padding-left: 0;
        position: relative;
        margin-top: 17px;
        i.material-icons.right {
          margin-left: 0 !important;
          display: block;
          font-size: 24px;
          height: 24px;
          line-height: 20px;
          margin-top: 11px;
        }
        .get-started-btn {
          margin: 0;
          font-size: 16px !important;
        }
        ul.getting-started{
          width: 182px !important;
          right: 0;
          top: 60px !important;
          background: transparent;
          li {
            border-bottom: none !important;
            a.g-started-item:hover {
              border: none !important;
              padding: 14px 0;
            }
            a.g-started-item{
              padding: 14px 0;
              border: none !important;
            }
          }
          li:hover {
            background-color: #00dc72;
          }
        }
      }
    }
  }
}
@media #{$medium-and-up} {
  // styles for medium screens and larger
}
@media #{$medium-and-down} {
  // styles for medium screens and down
}
@media #{$large-and-up} {
  // styles for large screens and up
}