.main-wrapper{
  display: block;
  float: left;
  width: 100%;
}
//Buttons
.button-Orange-Default {
  width: 484.3px;
  height: 90px;
  border-radius: 45px;
  border: 5px solid #ff6a13;
  outline: none;
  font-family: "Avenir Next";
  font-size: 28.4px;
  margin: 0 auto;
  display: block;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ff6a13;
}
.button-green-Default {
  width: 315px;
  height: 76px;
  border-radius: 38px;
  background-color: white;
  border: solid 5px #00dc72;
  font-family: "Avenir Next";
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #00dc72;
}

.Button-Orange-Small {
  font-family: "Avenir Next";
  width: 315px;
  height: 76px;
  border-radius: 38px;
  background-color: white;
  border: solid 5px #ff6a13;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ff6a13;
  display: block;
  margin: 0 auto;
}
.button-grayish-Default {
  font-family: "Avenir Next";
  width: 302px;
  height: 76px;
  border-radius: 38px;
  background-color: #afafaf;
  border-color: #afafaf;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
}

.copia-nav-link-text {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
  padding:0;
  margin: 0 20px;
}
.web-slider-header-text {
  font-size: 72px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
  width: 55%;
}

.Slider-Header {
  font-size: 72px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
}

.Black-Header {
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #252525;
}

.Green-Header {
  font-family: "Avenir Next";
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #00dc72;
}

.Body-Header-Alt {
  font-size: 30px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #252525;
}

.Slider-Subheader {
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
}

.Body-Header {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #252525;
}

.Press-Tiny-Header {
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #6d6d72;
}

.Text-Style {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: right;
  color: #ffffff;
}

.Link-Style-w-Underline {
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #00b55e;
}

.Body-Text {
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #252525;
}

.HdrFtr-Menu-Txt-Style {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
}

.HdrFtr-Menu-Txt-white-Style {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
}

.Text-Style-3 {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #6d6d72;
}

.Text-Style-2 {
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #939598;
}

